.bgk_change {
  width: 100%;
  background: #f9f9f9;
}

#school-bck {
  width: 100%;
  min-height: 473px;
  background-color: #F45B69;
  background: linear-gradient(rgba(249, 249, 249, 0.95), rgba(249, 249, 249, 0.95)), url("../../images/bcgSchool.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.showcase {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(to left, #000000, #353531);
  overflow: hidden;
}

#home {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/home.png");
}

.page-template-page{
  &-about{
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/about.jpg");
    }
  }

  &-contact {
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/contact.jpg");
    }
  }

  &-application {
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/appBanner.png");
    }
  }

  &-resource {
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/resourcebanner.png");
    }
  }

  &-testimonials {
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/resourceBck.png");
    }
  }

  &-athlete, &-scholarship {
    .showcase {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/bckAthlete.png");
    }
  }
}

.blog, .archive.category {
  .showcase {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/bckAthlete.png");
  }
}