.bgk_change {
  width: 100%;
  background: #f9f9f9;
}

#school-bck {
  width: 100%;
  min-height: 473px;
  background-color: #F45B69;
  background: url("../../images/bcgSchool.svg");
  background: linear-gradient(rgba(249, 249, 249, 0.95), rgba(249, 249, 249, 0.95)), url("../../images/bcgSchool.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.showcase {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left bottom, from(#000000), to(#353531));
  background: linear-gradient(top right, #000000, #353531);
  overflow: hidden;
}

#home {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/home.png");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/home.png");
}

#about {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/about.jpg");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/about.jpg");
}

#contact {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/contact.jpg");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/contact.jpg");
}

#appliacation {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/appBanner.png");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/appBanner.png");
}

#resource{
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/resourcebanner.png");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/resourcebanner.png");
}

#review {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/resourceBck.png");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/resourceBck.png");
}

#athlete {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/bckAthlete.png");
  background: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/bckAthlete.png");
}

#blog {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(53, 53, 49, 0.6))), url("../../images/bckAthlete.png");
  background-image: linear-gradient(top right, rgba(0, 0, 0, 0.4), rgba(53, 53, 49, 0.6)), url("../../images/bckAthlete.png");
}
