/*blog page styling*/
.main-blog {
  width: 100%;
}

.main-blog .col-12 h3 {
  color: #333;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 1.15rem;
}

.blog-header {
  position: relative;
  width: 100%;
}

.article-date {
  position: absolute;
  top: 1.125rem;
  left: 1.125rem;
  width: auto;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  background: #fff;
  color: #120404;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1;
}

.article-categories {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #120404;
  transition: all 300ms ease-in-out;

  &:hover, &:focus {
    color: #F01D1D;
    text-decoration: underline;
  }

  &+.article-categories {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .main-blog .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .main-blog .col-12 h3 {
    font-size: 1.8rem;
  }
}

.main-blog .blog-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.main-blog .blog-container .blog-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;

  &:first-child {
    margin-top: 65px;
  }
}

.main-blog .blog-container .blog-card .blog-img {
  position: relative;
  width: 100%;
  height: auto;
  background: #ccc;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.05);
  //overflow: hidden;
}

/* .main-blog .blog-container .blog-card .blog-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
} */

.main-blog .blog-container .blog-card .blog-img div {
  width: 100%;
  height: 307px;
}

/* .main-blog .blog-container .blog-card .blog-img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
} */

.main-blog .blog-container .blog-card .blog-info {
  position: relative;
  max-width: 100%;
  flex-basis: 100%;
  width: 100%;
  padding: 10px 0;
}

.main-blog .blog-container .blog-card .blog-info .blog-title {
  margin-bottom: 10px;
}

.main-blog .blog-container .blog-card .blog-info .blog-title h4 {
  font-size: 28px;
  margin-bottom: 1rem;
  color: #120404;
}

.main-blog .blog-container .blog-card .blog-info .blog-exempt {
  color: #575757;
  font-size: 1rem;
  margin-bottom: 15px;
}

.main-blog .blog-container .blog-card .blog-info .strong {
  /* position: absolute;
  font-size: 18px;
  left: 40px; */
}

.pagination-wrapper{
  max-width: 900px;
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 20px;
  text-align: center;
}

.pagination-wrapper .page-numbers{
  color: #ccc;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0 20px;
}

.pagination-wrapper .current{
  color: #f01d1d;
}

.pagination-wrapper .prev, .pagination-wrapper .next{
  padding: 0px;
}