.container #main{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container #main .sec-main{
  position: relative;
  width: 100%;
  padding: 0px 0px 50px 0px;

  p {
    margin:1rem 0;
    line-height: 2;
    color: #575757 !important;
  }

  .meta-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 20px 0px;

    @media screen and (max-width: 460px) {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .meta-time {
      text-transform: uppercase;
      font-weight: bold;
      background: #f9f9f9 ;
      padding: 0.5rem 1rem;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

      @media screen and (max-width: 460px) {
        margin-bottom: 1.2rem;
      }
    }
  
    .share-link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 460px) {
        margin-bottom: 1.2rem;
      }
  
      p {
        margin: 0;
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      ul {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;

        li {
          list-style: none;
          margin-left: 1rem;

          a {
            display: block;
            position: relative;
            width: 2.3rem;
            height: 2.3rem;
            padding: 0.4rem;
            background-color: #1a1a1a;
            border-radius: 50%;
    
            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 55%;
              height: 55%;
            }
          }
        }
      }
  
    }
  }
}

.container #main::after, .sec-main:after{
  content: '';
  display: table;
  clear: both;
}

.article-header{
  width: 100%;
}

.article-header .post-thumbnail{
  width: 100%;
  min-height: auto;
  height: 550px;
}

.article-header .entry-title{
  font-size: 3rem;
  margin: 0.67em 0 20px 0;
  line-height: 1.2;
}

.article-header .entry-meta{
  margin-bottom: 10px;
}

.container #main .sec-main h1{
  color: #120404 !important;
}

.container #main .sec-main h2, h3{
  color: #333 !important;
}

.container #main .sec-main h2{
  font-size: 28px;
  color: #333 !important;

  @media screen and (max-width: 460px) {
    font-size: 20px;
  }
}

.container #main .sec-main h3 {
  font-size: 22px;

  @media screen and (max-width: 460px) {
    font-size: 18px;
  }

  &~ul {
    margin-top: 1rem;
  }
}

.container #main .sec-main ul, ol {
  padding-left: 2rem;
  line-height: 2;
  color: #575757 !important;
}

.container #main .sec-main ul {
  li {
    list-style-type: disc;
  }
}

.container #main .sec-main ol {
  li {
    list-style-type: decimal;
  }
}

.container .entry-content{
  width: 70%;
  margin: 3rem 0 4rem 0;
  float: left;
}

.container #main .sec-aside{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26%;
  float: right;
}

.widget-area{
  //background: #f9f9f9;
}

.widget-area h2{
  font-size: 24px !important;
  padding-left: 5px;
}

.widget-area li{
  border-left: 3px solid #333;
  margin-bottom: 8px;
  padding: 10px;
}

.widget-area li a{
  color: #333;
}

.related-post{
  padding: 50px 0;

  @media screen and (max-width: 460px) {
    padding-bottom: 20px;
  }
}

.related-header{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #120404;

  @media screen and (max-width: 460px) {
    font-size: 1.75rem;
  }
}

.related-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 460px) {
    flex-direction: column;
  }
}

.related{
  border-radius: 3px;
  max-width: calc(33% - 1rem);
  flex-basis: calc(33% - 1rem);
  width: 100%;

  @media screen and (max-width: 768px) {
    max-width: calc(50% - 1rem);
    flex-basis: calc(50% - 1rem);
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 460px) {
    max-width: calc(100% - 0rem);
    flex-basis: calc(100% - 0rem);
  }
}

.related-img{
  position: relative;
  height: 200px;
  background: #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.related h4{
  font-size: 18px;
  font-weight: 700;

  a {
    color: #120404;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
      color: #F01D1D;
    }
  }
}