/*Header banner Styling*/
@mixin bannerText {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin showcaseCover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home {
  @include showcaseCover;
}

.page-template-page{
  &-about, &-contact, &-application, &-resource, &-athlete, &-scholarship, &-testimonials {
    .showcase {
      @include showcaseCover;
    }
  }
}

.blog, .archive.category, .single-post {
  .showcase {
    @include showcaseCover;
    min-height: 300px;
  }

  #banner {
    @include bannerText;
    margin-top: 20px;
    .container {
      h1 {
        font-size: 3.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h2, h3, h4, h5, h6 {
        color: #fff !important;
      }
    }
  }
}

.single-post {
  .showcase {
    @include showcaseCover;
    min-height: 480px;
  }
}

.page-template-page{
  &-about, &-contact {
    .showcase {
      min-height: 450px;
    }
  }
}

.page-template-page{
  &-application, &-resource, &-athlete, &-scholarship, &-testimonials {
    .showcase {
      min-height: 300px;
    }
  }
}

#banner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  margin-top: 20px;
}

#banner .container .welcome {
  display: none;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #fff;
  letter-spacing: 0.08em;
}

#banner .container h1 {
  color: #fff;
  font-size: 3.1rem;
  line-height: 1.2;
  margin-bottom: 10px;
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1025px) {
    font-size: 2.8rem;
  }
}

#banner .container .tagline {
  color: #fff;
  font-weight: 300;
  font-size: 1.13rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  letter-spacing: -0.008em;
}

#banner .container a {
  color: #fff;
}

.page-template-page{
  &-about, &-contact, &-application, &-resource, &-scholarship, &-athlete, &-testimonials {
    #banner {
      @include bannerText;
    }
  }
}

.page-template-page{
  &-application, &-resource, &-scholarship, &-athlete, &-testimonials {
    #banner {
      margin-top: 20px;
    }
  }
}

.page-template-page{
  &-application {
    #banner {
      .container {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

.page-template-page{
  &-resource, &-athlete, &-scholarship {
    #banner {
      .container {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

.page-template-page{
  &-testimonials {
    #banner {
      .container {
        h1 {
          font-size: 2.8rem;
        }
      }
    }
  }
}