/*Founders section Styling*/
#founders {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 850px){
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
  }
}

#founders .row-founder {
  max-width: calc(50% - 1.5rem);
  flex-basis: calc(50% - 1.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1025px){
    max-width: calc(50% - 0.5rem);
    flex-basis: calc(50% - 0.5rem);
  }

  @media screen and (max-width: 850px){
    max-width: calc(70%);
    flex-basis: calc(70%);

    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }
  }

  @media screen and (max-width: 769px) {
    max-width: calc(90%);
    flex-basis: calc(90%);
  }

  @media screen and (max-width: 500px) {
    max-width: calc(100%);
    flex-basis: calc(100%);
  }
}

#founders .row-founder .img-founder > img{
  width: 100%;
}

#founders .row-founder .img-founder {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 0 auto -45px auto;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
}

#founders .row-founder .p-founder {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 4rem 2rem 2rem;
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.03);

  @media screen and (max-width: 500px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#founders .row-founder .p-founder .team-name {
  font-size: 24px;
  color: #333;
}

#founders .row-founder .p-founder .team-title {
  font-size: .9rem;
  color: #777;
  margin-bottom: 20px;
}

#founders .row-founder .p-founder h4 {
  margin-bottom: 1rem;
}

#founders .row-founder .p-founder p {
  font-size: 1rem;
  color: #575757;
}

#founders .row-founder .p-founder a {
  display: block;
  width: auto;
  margin-top: 1.25rem;

  i {
    font-size: 2.125rem;
    color: #575757;
    transition: all 300ms;

    &:hover {
      color: #F01D1D;
    }
  }
}

.mission-row{
  padding:  100px 0px;
}

#missionVision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#story, #mission, #our-vision{
    padding: 0px;
}

#missionVision .top_heading{
  font-size: 2rem;
}

#missionVision .mission_p{
  text-align: center;
  padding: 0px 10px;
}

#missionVision #mission {
  width: 100%;
}

#missionVision #our-vision {
  width: 100%;
  background: #f9f9f9;
}
